<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- <nav>
    <a href="index.html">Home</a>
    <a href="customers.html">Customers</a>
    <a href="inventory.html">Inventory</a>
    <a href="orders.html">Orders</a>
    <a href="products.html">Products</a>
</nav> -->

<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('customers') }}">Customers</a>
    <a href="{{ url_for('inventory') }}">Inventory</a>
    <a href="{{ url_for('orders') }}">Orders</a>
    <a href="{{ url_for('products') }}">Products</a>
</nav>

<h1>Add Products</h1>
<form method="POST">
    ProductID: <input type="text" name="product_ID">
    Stock Level: <input type="text" name="stockLevel">
    <button type="submit">Add</button>
</form>

<h1>Inventory</h1>

<table border="1">
<tr>
    <th>Product ID</th>
    <th>Stock</th>
</tr>

<!-- Would be cool to grab the name of the product ID -->
{% for item in inventory %}
<tr>
    <td>{{ item.product_ID }}</td>
    <td>{{ item.stockLevel }}</td>
</tr>
{% endfor %}

</table>