<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('customers') }}">Customers</a>
    <a href="{{ url_for('inventory') }}">Inventory</a>
    <a href="{{ url_for('orders') }}">Orders</a>
    <a href="{{ url_for('products') }}">Products</a>
</nav>

<h1>Add Order (Not sure if you should be able to do this alone)</h1>
<form method="POST">
    Customer: <input type="text" name="customer_id" required>
    type: <input type="text" name="type" required>
    total: <intput type="text" name="total" required>
    <button type="submit">Add</button>
</form>


<h1>Orders</h1>

<table border="1">
<tr>
    <th>Order ID</th>
    <th>Customer ID</th>
    <th>Type</th>
    <th>Total</th>
</tr>

{% for order in orders %}
<tr>
    <td>{{ order.id }}</td>
    <td>{{ order.customer_id }}</td>
    <td>{{ order.type }}</td>
    <td>{{ order.total }}</td>
</tr>
{% endfor %}

</table>