<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('customers') }}">Customers</a>
    <a href="{{ url_for('inventory') }}">Inventory</a>
    <a href="{{ url_for('orders') }}">Orders</a>
    <a href="{{ url_for('products') }}">Products</a>
</nav>

<h1>Products</h1>

<h1>Add Product</h1>
<form method="POST">
    Name: <input type="text" name="name" required>
    Price: <input type="text" name="price" required>
    <button type="submit">Add</button>
</form>

<table border="1">
<tr>
    <th>Product ID</th>
    <th>name</th>
</tr>

{% for product in products %}
<tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
</tr>
{% endfor %}

</table>